[submodule "dein/repos/github.com/Shougo/dein.vim"]
	path = dein/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim
[submodule "dein/repos/github.com/apalmer1377/factorus"]
	path = dein/repos/github.com/apalmer1377/factorus
	url = https://github.com/apalmer1377/factorus
[submodule "dein/repos/github.com/junegunn/fzf"]
	path = dein/repos/github.com/junegunn/fzf
	url = https://github.com/junegunn/fzf
[submodule "dein/repos/github.com/rking/ag.vim"]
	path = dein/repos/github.com/rking/ag.vim
	url = https://github.com/rking/ag.vim
[submodule "dein/repos/github.com/sbdchd/neoformat"]
	path = dein/repos/github.com/sbdchd/neoformat
	url = https://github.com/sbdchdi/neoformat
[submodule "dein/repos/github.com/Shougo/deoplete.nvim"]
	path = dein/repos/github.com/Shougo/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
